.tabela{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 177, 100);
    width: 230px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: scale(3);
    border: 3px solid black;
}

.center{
    display: flex;
    justify-content: center;
}

.padding{
    padding-top: 350px;
}

ul{
    padding-right: 40px;
}


button{
    cursor: pointer;
    background-color: rgb(192, 148, 82);
}

body{
    font-family: sans-serif;
}